<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--基准书签文件-->
    <add key="basedFilePath" value="based.html"/>
    <!--家里的书签文件-->
    <add key="homeFilePath" value="home.html"/>
    <!--公司的书签文件-->
    <add key="companyFilePath" value="company.html"/>
    <!--合并后的书签文件，程序稳定后设置成和basedFilePath的一样-->
    <add key="mergeFilePath" value="merge.html"/>
  </appSettings>
</configuration>