<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--基准书签文件-->
    <add key="basedFilePath" value="based.html"/>
    <!--合并书签所在目录-->
    <add key="mergeDirectoryPath" value="MergeFiles"/>
    <!--合并后的书签文件-->
    <add key="mergeFilePath" value="based.html"/>
    <!--是否备份基准书签文件-->
    <add key="backupBasedFile" value="true"/>
  </appSettings>
</configuration>